html, body {
    margin: 0;
}

.row {
    margin-bottom: 10px;
}

.trip-title-wrapper {
    position: relative;
    padding: 0px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.trip-title-wrapper img {
    width: 100%;
    display: block;
}

.trip-title-wrapper .trip-title {
    color: #fff;
    font-size: 3.5em;
    position: absolute;
    left: 20px;
    bottom: 40px;
    text-shadow: 1px 1px #000;
    font-weight: bold;
}

.trip-title-wrapper .trip-sub-title {
    color: #fff;
    font-size: 1.0em;
    position: absolute;
    left: 20px;
    bottom: 20px;
    text-shadow: 1px 1px #000;
}

.trip-title-wrapper.small .trip-title {
    font-size: 2.5em;
}

.trip-title-wrapper.small .trip-sub-title {
    font-size: 0.9em;
    bottom: 10px;
}

.label {
    font-size: 0.8em;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.label-icon i,
.label-icon span {
    vertical-align: middle;
}

.label-icon i {
    width: 24px;
    margin-right: 10px;
}

.label-icon div {
    padding-left: 34px;
    font-size: 1.1em;
}

.last-row {
    margin-bottom: 0;
}

div.leaflet-top.leaflet-left {
    z-index: 990;
}

.leaflet-bottom.leaflet-right {
    z-index: 990;
}

.nav-wrapper ul li {
    text-transform: uppercase;
}

.nav-wrapper ul li a {
    font-size: 0.9em;
    padding: 0 5px;
}

nav a.sidenav-trigger {
    display: block;
}

nav,
.navbar-fixed,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
    height: 45px;
    line-height: 45px;
}

.navbar-fixed {
    margin-bottom: 10px;
}

nav .brand-logo {
    left: 55px;
    -webkit-transform: none;
    transform: none;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
}

.sidenav-day {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #ee6e73;
    margin: 5px;
    padding: 5px 10px 5px 5px;
    border: 1px #e2474e solid;
    border-radius: 3px;
}

.sidenav-day a:link,
.sidenav-day a:visited,
.sidenav-day a:hover,
.sidenav-day a:active {
    color: white;
    font-size: 0.9em;
}

.day-title {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px;
    border-radius: 2px;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.day-map {
    height: 300px;
}

.card .card-image img {
    width: 100%;
}

.card .card-content .card-title {
    padding-bottom: 10px;
}

.nav-pushpin-wrapper {
    height:64px;
}

.nav-pushpin {
    z-index:1000;
}

span.badge {
    float: left;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 5px;
}

.card.trip-entry .card-content .card-title {
    font-size: 2.5em;
    font-weight: 500;
    padding-bottom: 5px;
    margin: 0;
}

.transport {
    display: table;
    width: 100%;
    min-height: 100px;
}

.transport-left {
    min-height: 60px;
    border-right: 2px #ee6e73 dashed;
    vertical-align: middle;
    display: table-cell;
    width: 40px;
    padding-left: 10px;
}

.transport-right {
    display: table-cell;
    vertical-align: middle;
    padding-left: 40px;
}

.transport-line {
    width: 2px;
    height: 100%;
    min-height: 40px;
    display: block;
    margin: 0 auto;
}

.transport-mode {
    display: block;
    margin: 5px auto;
    width: 40px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    color: #ee6e73;
    border: 2px #ee6e73 solid;
    border-radius: 50%;
    margin-right: -20px;
    background-color: white;
}

.transport-mode i.material-icons {
    display: inline;
    vertical-align: middle;
}

.transport-info,
.transport-notes {
    text-align: left;
    color: #ee6e73;
    font-size: 1em;
}

.transport-notes {
    font-size: 0.8em;
}

.md-content ul {
    padding-left: 20px;
    list-style-type: initial;
}
  
.md-content ul > li {
    list-style-type: initial;
}

.md-content p {
    margin-bottom: 14px !important;
}

.md-content i.material-icons {
    vertical-align: -40%;
}

.md-content img {
    width: 100%;
}

.md-content .location {
    margin: 10px 0;
}

.md-content .location .location-icon i.material-icons {
    font-size: 30px;
    margin-right: 5px;
}

.md-content .location .location-icon,
.md-content .location .location-details {
    display: inline-block;
    vertical-align: middle;
}

.md-content .location .location-coordinates {
    padding-left: 0;
}

.day-title.day-collapsed {
    margin-bottom: 5px;
}

.day-content.day-collapsed {
    display: none;
}

.card-toolbar a:link,
.card-toolbar a:visited,
.card-toolbar a:hover,
.card-toolbar a:active {
    color: black;
}

.card-toolbar a.not-visited {
    color: #cccccc !important;
}

.card.activity .card-title i {
    display: none;
}

.card.activity.activity-collapsed .card-title i {
    display: inline-block;
}

.card.activity.activity-collapsed .card-body {
    display: none;
}

.card.activity.activity-collapsed .card-content > .row {
    margin-bottom: 0;
}
